/*Faculdade de Tecnologia de Ribeirão Preto*/
/*Centro Paula Souza*/
/*Programação WEB*/
/*Prof. Dr. Ricardo Luis Balieiro*/
/*Dicente: Pedro Welbert da Silva Pereira*/

@font-face {
  font-family: Bender;
  src: url("../assets/fonts/Bender.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: Roboto;
}

:root{
	--azul: #5eb6b8;
	--rosa: #fc93bc;
	--vermelho:	#d22538;
	--bege: #d99854;
	--marrom: #312522;
	--verde: #6d9132;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: Roboto;
	overflow-x: hidden;
}

.container{
	width: 80%;
	margin: 0 auto;
}

header #menu {
	padding: 1em;
	display: flex;
	justify-content: space-between;
	background-color: var(--azul);
	box-shadow: 5px 0 10px #000;
}

header #menu ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav ul a{
	font-family: Bender;
	padding: 0 1em;
	color: white;
	font-size: 120%;
	letter-spacing: 1px;
	transition: ease-in-out .3s;
}

header #menu .menu-main a:hover{
	color: var(--vermelho);
}

header #menu .contact-item a:hover{
	color: var(--rosa);
}

.contact-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contact-item{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.top-banner{
	height: 72vh;
	background-image: url("../assets/img/background.png");
	background-attachment: fixed;
}

.logo-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.top-banner .logo-container img{
	width: 20em;
	margin-right: 2em;
}

.banner-details{
	height: 20vh;
	box-shadow: 5px 0 10px #000;
	position: relative;
	background: var(--rosa);
}

.banner-details .container {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.banner-details .item {
	width: 33.333%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-details .item img {
	width: 7em;
	margin-right: 1em;
}

.banner-details .item h4 {
	text-align: center;
	text-transform: uppercase;
	font-family: Bender;
	font-size: 130%;
	font-weight: lighter;
	color: #fff;
}

.banner-details .item h4 span {
	display: block;
	color: var(--vermelho);
	font-family: Bender;
}