/*Faculdade de Tecnologia de Ribeirão Preto*/
/*Centro Paula Souza*/
/*Programação WEB*/
/*Prof. Dr. Ricardo Luis Balieiro*/
/*Dicente: Pedro Welbert da Silva Pereira*/

@font-face {
  font-family: Bender;
  src: url("../assets/fonts/Bender.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: Roboto;
}

:root{
	--azul: #5eb6b8;
	--rosa: #fc93bc;
	--vermelho:	#d22538;
	--bege: #d99854;
	--marrom: #312522;
	--verde: #6d9132;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: Roboto;
	overflow-x: hidden;
}

.container{
	width: 80%;
	margin: 0 auto;
}

header #menu {
	padding: 1em;
	display: flex;
	justify-content: space-between;
	background-color: var(--azul);
}

header #menu ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav ul a{
	font-family: Bender;
	padding: 0 1em;
	color: white;
	font-size: 120%;
	letter-spacing: 1px;
	transition: ease-in-out .3s;
}

header #menu .menu-main a:hover{
	color: var(--vermelho);
}

header #menu .contact-item a:hover{
	color: var(--rosa);
}

.contact-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contact-item{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#home .logo-container figure{
	background-image: url(../assets/img/LogoColorido.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}
